@use "../../../public/scss/static" as sv;
.nav-bar {
  background-color: sv.$navy-blue-dark;
  height: 75px;
  display: block;
  position: inherit;
}
.visible {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}

#logo {
  color: sv.$green !important;
  // box-sizing: inherit;
}
.logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.logo-letter {
}

.nav-list {
  list-style: none;

  li {
    cursor: pointer;
    float: left;
    // font-weight: 900;
    font-family: sv.$font-mono !important;
    font-size: 13px !important;
    color: sv.$light-slate;
    span {
      color: sv.$green;
    }

    &:hover {
      color: sv.$green !important;
    }
  }
}
