$navy-blue-dark:#0A192F;
$green:#64ffda;
$font-sans:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
$slate: #8892b0;
$dark-slate: #495670;
$lightest-slate: #ccd6f6;