@use "../../../public/scss/static" as sv;

.section-personal-project {
  min-height: 100vh !important;
  color: black !important ;
  width: 67%;
}
.project-card {
  height: 325px !important;
  width: 325px !important;
  border-radius: 2px;
}

.project-skills {
  width: fit-content !important;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
      margin-right: 5%;
    }
  }
}
