@use "../../../public/scss/static" as sv;

.section-personal-project {
  min-height: 100vh !important;
  color: black !important ;
  width: 67%;
}
.project-card {
  height: 325px !important;
  width: 325px !important;
  border-radius: 2px;
}

.project-skills {
  width: fit-content !important;
  // position: relative;
  // bottom: -15% !important;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
      margin-right: 5%;
      font-family: sv.$font-mono;
      font-size: small;
      color: sv.$slate;
    }
  }
}

.project-link {
  text-decoration: none;
  transition: top 0.2s;

  &:hover {
    position: relative;
    top: -5px;

    .project-title {
      color: sv.$green;
    }
  }

  /* Set initial position */
  position: relative;
  top: 0;
}

.repo-link {
  a {
    color: sv.$light-slate;
    &:hover {
      color: sv.$green;
    }
  }
}
