@use "../../../public/scss/static" as sv;

/* Define variables */
$font-mono: sv.$font-mono;
$slate: sv.$slate;
$light-slate: sv.$light-slate;
$green: sv.$green;

.section-personal-project {
  min-height: 100vh;
  color: black;
  width: 67%;
}

.project-card {
  height: 325px;
  width: 325px;
  border-radius: 2px;
}

.project-skills {
  width: max-content;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;
      font-family: $font-mono;
      font-size: small;
      color: $slate;
    }
  }
}

.project-link {
  text-decoration: none;
  transition: top 0.2s;

  &:hover {
    position: relative;
    top: -5px;

    .project-title {
      color: $green !important;
    }
  }

  /* Set initial position */
  position: relative;
  top: 0;
}

.repo-link a {
  color: $light-slate;

  &:hover {
    color: $green;
  }
}

@media only screen and (max-width: 428px) {
  .section-personal-project {
    width: auto;
  }
}
