@use "../../../public/scss/static" as sv;

$img-height: 300px;
$img-width: 300px;
$img-border-radius: 5px;
$left-right: 20px;
$transition-time: 0.25s;
.section-about {
  min-height: 100vh !important;
}

.about-img-div {
  width: $img-width !important;
  // height: $img-height;
  padding: 0px !important;
  margin: 0px;
  // overflow: hidden !important ;
  position: relative;
  z-index: 1 !important;
  display: block;

  // &::before {
  //   background: rgba($color: sv.$green, $alpha: 0.5);
  //   position: absolute;
  //   height: $img-height;
  //   width: $img-width;
  //   display: block;
  //   border-radius: $img-border-radius;
  //   content: "";
  //   transition: $transition-time linear;
  // }

  &::after {
    border: 1px solid sv.$green;
    position: absolute;
    left: $left-right;
    top: $left-right;
    height: $img-height;
    width: $img-width;
    display: block;
    z-index: -1;
    border-radius: $img-border-radius;
    content: "";
    transition: $transition-time linear;
  }

  &:hover {
    // &::before {
    //   opacity: 0;
    // }

    &::after {
      left: 10px;
      top: 10px;
      transition: $transition-time;
    }
  }
}
p {
  font-family: sv.$font-sans !important;
  color: sv.$slate;
  line-height: 1.5 !important;
  // font-size: 17px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: sv.$green !important;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      background-color: sv.$green;
      bottom: 0;
      left: 0;
      transition: width 0.2s ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    line-height: 30px;
    font-family: sv.$font-mono;
    font-size: small;
    &::before {
      content: "▹";
      color: sv.$green;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

h2 {
  font-size: 50px !important;
}
.about-sans {
  max-width: 84%;
}

@media only screen and (max-width: 428px) {
  .about-sans,
  .section-about {
    margin: 0;
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .about-img-div {
    width: 250px !important;
    margin: auto;
    &::after {
      width: 250px;
      height: 250px;
    }
  }
  .section-about {
    margin-bottom: 15%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
