@use "../../../public/scss/static" as sv;
.floating-left {
  position: fixed;
  bottom: 0;
  left: 0;

  ul {
    li {
      list-style: none;
      font-size: 20px;
      color: sv.$slate;
    }
    a {
      text-decoration: none !important;
    }
  }
}

.floating-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  a {
    text-decoration: none !important;
    writing-mode: vertical-rl;
    color: sv.$slate;
    font-family: sv.$font-mono;
    font-size: small;
  }
}

.side-icons:hover {
  color: sv.$green;
}

.icon-settings:hover {
  animation: rotateAnimation 5s infinite linear;
  cursor: pointer;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 428px) {
  .floating-right {
    margin-right: 10px;
  }
  .floating-left {
    left: -15px !important;
  }
}
