@use "../public/scss/static" as sv;

* {
  font-family: sv.$font-sans;
}

.main-container {
  padding: 0 !important;
  // background-color: sv.$green ;
  background-color: sv.$navy-blue-dark;
  overflow: hidden;
  font-family: sv.$font-sans !important ;
}

.height-fit-content {
  height: fit-content !important ;
}

.bg-light-navy {
  background-color: sv.$light-navy;
}

.color-custom-green {
  color: sv.$green !important ;
}

.color-slate-light {
  color: sv.$light-slate;
}
.color-slate-lightest {
  color: sv.$lightest-slate !important ;
}

.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}

.font-mono {
  font-family: sv.$font-mono !important;
}

.font-sans {
  font-family: sv.$font-sans !important;
}

.section-intro {
  height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  line-height: 1.1 !important;
}

h2,
h3 {
  display: block;
  font-size: 4em !important;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bolder !important;
  color: sv.$lightest-slate;
}

h1 {
  margin: 0px 0px 30px 4px;
  color: sv.$green;
  display: block;
  font-size: 1em !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: sv.$font-mono !important;
}
h3,
.color-slate {
  color: sv.$slate !important;
}

.min-h-100vh {
  min-height: 100vh;
}

$img-border-radius: 5px;
$transition-time: 0.25s;

.grey-scale-img-div {
  // background-color: sv.$green;
  // background: sv.$green;
  img {
    // width: 100% !important;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    object-fit: cover;
    border-radius: $img-border-radius;
    opacity: 90%;
    // mix-blend-mode: screen;
    // filter: grayscale(100%) sepia(100%) hue-rotate(155deg);
    filter: grayscale(100%) contrast(1) brightness(90%);
  }
  &:hover {
    img {
      transition: $transition-time;
      filter: none;
      opacity: 100%;

      // mix-blend-mode: normal;
    }
  }
}
.glow-button {
  background: sv.$navy-blue-dark;
  border: 1px solid sv.$green;
  border-radius: 4px;
  color: sv.$green;
  font-family: sv.$font-mono;
  width: fit-content !important;
  text-decoration: none;

  &:hover {
    color: sv.$green;
  }
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.section-title {
  font-weight: 700;
  font-size: 25px;
  color: sv.$lightest-slate;
  width: fit-content;
  position: relative;
  // background: url();
  span {
    font-weight: 500;
    font-family: sv.$font-mono !important;
    color: sv.$green;
    font-size: large;
  }
  .horizontal-line {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 300px;
      height: 1px;
      background-color: sv.$dark-slate;
      position: absolute;
      left: 100%;
      top: 50%;
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 428px) {
  h2,
  h3 {
    font-size: 2em !important;
  }

  .glow-button {
    margin: auto;
    margin-top: 0;
  }
}
