@use "../public/scss/static" as sv;

.main-container {
  padding: 0 !important;
  // background-color: sv.$green ;
  background-color: sv.$navy-blue-dark;
  overflow: hidden;
  font-family: sv.$font-sans !important ;
}

.height-fit-content {
  height: fit-content !important ;
}

.bg-light-navy {
  background-color: sv.$light-navy;
}

.color-custom-green {
  color: sv.$green !important ;
}

.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
