@use "../public/scss/static" as sv;

.main-container {
  padding: 0 !important;
  // background-color: sv.$green ;
  background-color: sv.$navy-blue-dark;
  overflow: hidden;
  font-family: sv.$font-sans !important ;
}
